.navbar-brand{
font-family: 'Langar', cursive;
font-size: 2em;
font-weight: bold;
color: #fff;
}
.custom-nav .custom-nav-item a{
    color:#fff !important;
}

.custom-nav-item:hover{
    background-color: #e91ec7;
    border: solid #e91ec7 1px;
    border-radius: 10px;
}

.remove-vid-marg{
margin: 0px;
padding: 0px;
}

.vid-parent{
    position: relative;
}
video{
    width: 80%;
    height: 80%;
}
.vid-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f88080;
    z-index: 1;
    opacity: 0.8;
}

.vid-content{
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 35%;
    text-align: center;
    color: rgba(24, 8, 94, 0.911);
}
.bottom-banner{
    color: #fff;
    padding: 10px;
}

.card {display:inline-block;}

.stripe{
    background-image: linear-gradient(240deg, #2179ed, #4b1e93);
    padding: 3rem;
    height: 13rem;
    margin-top: 4rem;
    transform: rotate(15deg);
    z-index: -5;
}





@media screen and (min-width:0px) and (max-width:700px){
  .my-content,
  .txt-banner,
  .stripe{
      display: none;
  }

  .vid-content{
      top: 12%;
      left: 60%;
  }

  .custom-nav .custom-nav-item a{
      padding: 10px 20px;
      background-color: #225470;
  }

  .custom-nav-item:hover{
      background-color: none;
      border: none;
      border-radius: none;
  }
}